Package: configdata
Version: 1.3.2
Architecture: amd64
Maintainer: Robert Key robertkey021@gmail.com
Section: myown
Pre-depends: stedit
Depends: xz-utils
Priority: optional
Description: All config data for user and system

