Package: configdata
Version: 1.4.1
Architecture: amd64
Maintainer: Robert Key robertkey021@gmail.com
Section: myown
Pre-depends: stedit, geany, geany-plugins, geany-common
Depends: xz-utils
Priority: optional
Description: All config data for user and system and geany is installed

